<%- include("partials/header"); -%>
    <div class="compose">

        <h1>Edit</h1>

        <form class="" action="/post/edit/<%=postId%>" method="post">
            <div class="form-group">
                <h5>Title</h5>
                <input type="text" name="postTitle" value="<%= title %>">
                <h5>Author Name</h5>
                <input type="text" name="authorName" value="<%= author %>">
                <h5>Content</h5>
                <textarea id="postBody" name="postBody"><%= content %></textarea>
            </div>
            <div class="buttons">
                <button class="btn btn-primary" id="saveBtn" type="submit" name="saveButton">
                    <p>Save Changes</p>
                </button>


                <button class="btn btn-primary" id="discardBtn" type="submit" name="discardButton">
                    <p>Discard Changes</p>
                </button>

            </div>
        </form>



    </div>


    <%- include("partials/footer"); -%>