<%- include("partials/header"); -%>

    <div class="posts">
        <h1>
            <%= title %>
        </h1>
        <h5>By: <%= author %>
        </h5>
        <%- content %>
            <hr>
            <div class="post-edit-del">

                <div class="postdelete">
                    <form id="deleteForm" action="/post/<%= postId %>" method="DELETE">
                        <button type="submit">
                            <p>Delete this post</p> <i class="fa-solid fa-trash fa-xl"></i>
                        </button>
                    </form>
                </div>

                <div class="postedit">
                    <form action="/edit/<%= postId %>" method="GET">
                        <button type="submit">
                            <p>Edit this post</p> <i class="fa-solid fa-pencil fa-xl"></i>
                        </button>
                    </form>
                </div>

            </div>
    </div>


    <%- include('partials/footer') -%>