<%- include("partials/header"); -%>
    <div>
        <div class="posts">
            <h2>
                <%= title %>
            </h2>
            <h4>By: <%= author %>
            </h4>
            <h5>
                Created on: <%= createdDateAndTime %>
            </h5>
            <% if (updatedDateAndTime) { %>
            <h5>
                Updated on: <%= updatedDateAndTime %>
            </h5>

            <% } %>
            <hr>

                <p>
                    <%- content %>

                </p>

        </div>
        <!-- <hr> -->
        <div class="post-edit-del">
            
            <form action="/edit/<%= postId %>" method="GET">
                <button type="submit" class="postedit">
                    <p>Edit this post</p> <i class="fa-solid fa-pencil fa-xl"></i>
                </button>
            </form>
                <form id="deleteForm" action="/post/<%= postId %>?_method=DELETE" method="POST">
                    <button type="submit" class="postdelete">
                        <p>Delete this post</p> <i class="fa-solid fa-trash fa-xl"></i>
                    </button>
                </form>



        </div>
    </div>

    <%- include('partials/footer') -%>